
.contenedor{
   display: flex;
   align-items: center;
}
.imagen3{
 width: 400px;
 height: 200px;
 margin-top: 20px;
 margin-left: 100px;
 margin-right: 25px;

}
.btn{
    background-color: coral;
    font-size: large;
    margin-top: 10px;
    border: 25px;
    border-radius: 10px;
    padding: 15px;
    margin-left: 50%;
}