.contenedor{
    display: flex;
    justify-content: center;
}
.imagen1{
width: 400px;
 height: 400px;
 margin-left: 25px;

}
.imagen2{
width: 400px;
 height: 400px;
 margin-left: 25px;
}
.alineacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    background-color: coral;
    font-size: large;
    margin-top: 10px;
    border: 25px;
    border-radius: 10px;
    padding: 15px;
}
.footer{
    text-align: center;
    font-size: large;
    position: absolute;
    bottom: 0;
    width: 95%;

}